<%- include('include/head.ejs') %>
    <% if(users.length === 0){ %>
        <h1>Хэрэглэгч байхгүй байна..</h1>
    <% } else { %>
        <% for(user of users){ %>
            <div class="flex justify-between items-center mb-4 bg-gray-200">
                <h1 class="text-gray-700">
                   <a href="/user/<%= user.id %>">
                        <%= user.name %>
                   </a>
                </h1>

                <form action="/delete" method="post">
                    <input type="hidden" name="userId" value="<%= user.id %>">
                    <input type="submit" value="delete">
                </form>
            </div>
        <% } %>
    <% } %>
<%- include('include/foot.ejs') %>